REGLAS DEL NEGOCIO (SERVICIO SOCIAL -SCRIPTS-).txt
REGLAS DEL NEGOCIO (SERVICIO SOCIAL) MODELO CONCEPTUAL.png
REGLAS DEL NEGOCIO (SERVICIO SOCIAL).dia
REGLAS DEL NEGOCIO (SERVICIO SOCIAL).dia~
REGLAS DEL NEGOCIO (SERVICIO SOCIAL).txt
BACKLOG PRIORIZADO DEL PRODUCTO.docx
CASO DE NEGOCIO DEL PROYECTO.docx
MODELO CONCEPTUAL.png
MODELO LOGICO.png
SPRINT 1.docx
SPRINT 2.docx
SPRINT 3.docx
SPRINT 4.docx
VISION DEL PROYECTO.docx
MODELO LOGICO WORKBENCH.mwb