body{
    background:#F0F2F5;
    
}


h1{
    /*color:#EF3B2D;*/
    color:#393A58;
}


.btn-danger{
   font-size: 18px;
   font-weight: bold;
}


textarea{
    resize: none;
    background: orange;
}