<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="main.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="svg hide" id="svg"></div>

        <h1>My card title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolores ullam, adipisci sint aut magni!</p>
    
        <button>Get Started</button>
    </div>



    
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_gQSfwH.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
</body>
</html>